@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Space Mono');

@font-face {
	font-family: 'Press Start 2P';
}

* {
	font-family: 'Space Mono' !important;
}

.background {
	display: none;
	left: 0;
	top: 0;
	position: fixed;
	height: 100vh;
}

body {
	background-image: url('/images/background.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
