@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@font-face {
	font-family: 'Press Start 2P';
}

body {
	background-image: url('/images/background.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
